.board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  /*border-spacing: 0px;*/
  border-collapse: collapse;
}

.square {
  border: none;
  background-color: white;
}

.active {
  border: none;
  background-color: blue;
}
